@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.area {
  display: flex;
  flex-direction: column;
  position: relative;
  background: $base-blue;
  min-height: 600px;
}

.eventList {
  display: flex;
  top: 24px;
  position: relative;
  @media (min-width: $device-medium) {
    margin-left: 405px;
    margin-top: $unit * 4;
  }
  @media (min-width: $device-med-large) {
    flex-direction: row;
    margin-top: 0;
    margin-top: 24px;
  }
}
