@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.button {
  padding: $unit $unit * 2;
  cursor: pointer;
  background: $base-dark;
  border: solid 1px $base-blue;
  color: $base-light;
  border-radius: 4px;
  box-shadow: 0 0 4px 4px #0000001a;
  font-family: "Russo One";
  letter-spacing: 1px;
  transition: all 300ms ease;
  text-decoration: none;
  display: inline-block;

  &.secondary {
    background: $base-dark-secondary;
  }

  &:hover {
    background: $base-light;
    color: $base-dark;
  }

  &:hover:disabled {
    background: gray;
    color: $base-light;
  }

  &:disabled {
    background: gray;
    color: $base-light;
  }
}
