.card {
    display:block;
    padding:20px;
    border:solid 1px black;
    min-width:250px;
    min-height:250px;
    margin:20px;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center

}