@import "styles/sizes";
@import "styles/colors";
@import "styles/breakpoints";

.gap {
  margin-top: $unit * 2;
  text-align: center;
  color: $base-light;
  text-decoration: underline;
  background: $base-advert;
}

.streak {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $unit * 2;
}

.no-underline {
  text-decoration: none;
}

.streak-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.streak-heading {
  margin-top: 0;
}
