@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.user {
  display: flex;
  @media (min-width: $device-medium) {
  }
  color: $base-dark;
  z-index: 100;
  align-items: center;
  margin: 0 $unit * 6;
  img {
    border-radius: 50%;

    @media (min-width: $device-medium) {
      max-height: $unit * 8;
      max-width: $unit * 8;
    }

    max-height: $unit * 4;
    max-width: $unit * 4;
  }

  .book {
    color: $base-dark;

    &.header-scrolled {
      color: white;
    }
  }
}
