@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.user {
  display: flex;

  z-index: 100;
  align-items: center;
  justify-content: center;
  margin: 0 $unit * 6;
  width: 64px;

  .inner {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;

    font-weight: 800;
    text-decoration: none;

    width: auto;
    height: 32px;
    border: none;
    border-radius: none;

    @media (min-width: $device-medium) {
      width: 64px;
      height: 64px;
      border: solid 3px $base-dark;
      border-radius: 50%;
      font-size: 10px;
    }
  }

  .book {
    color: $base-blue;
    border-color: $base-blue;
    &.header-scrolled {
      color: $base-light;
      border-color: $base-light;
    }
  }
}
