@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.area {
  position: relative;
  background: $base-blue;
  min-height: 600px;
  color: $base-light;
  padding: $unit * 4;
}

.countdown,
.cancelled {
  padding: $unit * 2;
}

.cancelled {
  background: $base-dark;
}

.countdown {
}

.signup {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.titleArea {
  display: flex;
  align-items: center;
}

.title {
  display: inline-block;
}
