@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.eventArea {
  color: $base-light;
  padding: $unit * 4;
}
.cancelled {
  padding: $unit * 2;
}

.cancelled {
  background: $base-dark;
}

.signup {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.titleArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $device-medium) {
    align-items: center;
  }
}

.title {
  display: inline-block;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.remove {
  margin-left: auto;
}
