@import "styles/colors";
@import "styles/sizes";

.eventArea {
  color: $base-light;
  padding: $unit * 4;
}
.cancelled {
  padding: $unit * 2;
}

.cancelled {
  background: $base-dark;
}

.signup {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.titleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: inline-block;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
