@import "styles/colors";
@import "styles/sizes";

.area {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $base-light;
  font-size: 2rem;

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }
}
