@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.edit {
  list-style: none;
  padding: $unit;
  margin: 0;

  button {
    width: 100%;
    margin: $unit / 2 0;
    padding: $unit 0;
  }
}
