@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.date {
  color: $base-light;
  display: inline-block;
  margin: 0 $unit;

  color: $base-dark;

  &.hasBorder {
    padding: $unit * 2;
    border-radius: $unit;
    border: solid 2px $base-dark;
  }

  &.light {
    border: solid 2px $base-light;
    color: $base-light;
  }
}
