@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.date {
  padding: $unit * 2;

  color: $base-light;
  display: inline-block;
  border-radius: $unit;
  margin: 0 $unit;

  border: solid 2px $base-dark;
  color: $base-dark;

  &.light {
    border: solid 2px $base-light;
    color: $base-light;
  }
}
