@import "styles/sizes";
@import "styles/colors";
.signup {
  margin: $unit * 2;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.padlock {
  width: 26px;
}

.win {
  background: lightgreen;
}

.lose {
  background: lightcoral;
}

.gold {
  background: gold;
}

.silver {
  background: #b8dbff;
}

.bronze {
  background: #e8701b;
}
