@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";
.login {
  display: block;
  color: $base-blue;
  margin-top: $unit * 2;
}

.inputWrapper {
  margin-bottom: $unit * 2;
}
