@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.product {
  width: 300px;
  max-width: 100%;
  background: $base-light;
  padding: $unit * 2;
  border-radius: $unit;
  margin:$unit * 2;

  h5 {
    margin: $unit 0;
    font-size: 1.3rem;
  }

  .image {
    position: relative;

    .price {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: $unit;
      background: $base-dark;
      color: $base-light;
    }
  }

  img {
    display: block;
    width: 100%;
    background: black;
    height: auto;
  }
}
