@import "styles/colors";
@import "styles/sizes";

.modalOuter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 200px;
  max-width: calc(100% - 20px);
  border: solid 2px $base-blue;
  background: $base-light;
  padding: $unit * 4 $unit * 3;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: $base-dark;
  border-radius: 50%;
  width: $unit * 3;
  height: $unit * 3;
  margin: $unit;
  cursor: pointer;
  text-align: center;
  z-index: 2;
}
