@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.area {
  margin: $unit * 2;
  color: $base-light;

  input {
    margin-bottom: $unit;
  }
}

.message {
  font-size: 10px;
}

.gap {
  margin: $unit * 2;
  margin-bottom: 0;
}

.remindersTable {
  max-height: 400px;
  overflow-y: scroll;
  margin-top: $unit * 2;
}
