@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.area {
  margin: $unit * 2;
  color: $base-light;

  input {
    margin-bottom: $unit;
  }
}

.message {
  font-size: 10px;
}

.gap {
  margin: $unit * 2;
  margin-bottom: 0;
}
