@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

$marginWidth: $unit * 6;
.booking {
  height: 450px;
  border: none;
  margin: $unit * 3;
  width: calc(100% - 48px);
  @media (min-width: $device-large) {
    width: calc(100% - 550px);
    margin-left: 500px;
    height: 600px;
  }
}
